body{
    font-family:verdana;
}
#result{
    height:100px;
    border:1.5px solid rgb(8, 8, 8);
    padding:10px;
    box-shadow: 0 0 10px 0 #bbb;    
    font-size: 14px;
    width: 50%;
    margin-left:25%;
} 
button{
    font-size:20px;
    left:50%;
}